/* 
    La propiedad position nos permite posicionar los elementos. Hay algunos conceptos que debéis conocer pora entender position.
    
    Flujo de renderizado -> Por norma general los element se dibujan de izquierda a derecha y de arriba abajo. El punto 0,0 de los elementos, por norma general es la esquina superior izquierda.
    Espacio reservado -> Es el espacio que tiene un elemento asignado en el navegador.
    Elemento posicionado -> Esto significa que el elemento que tiene la propiedad position con un valor distinto  de "static", que es el valor que tiene esta propiedad por defecto.
    Stackin context -> Contexot de apilamiento. Es el orden en el que se apilarán las cajas que se superponen, dentro del mismo contenedor.
    Al posicionar un elemento se habilitan 5 propiedades que podemos utilizar para mover los elementos en los 3 ejes.

        top -> El elemento se moverá desde la parte superior la distancia que le hayamos indicado.
        right -> El elemento se moverá desde la parte derecha la distancia que le hayamos indicado.
        bottom -> El elemento se moverá desde la parte inferior la distancia que le hayamos indicado.
        left -> El elemento se moverá desde la parte izquierda la distancia que le hayamos indicado.
        z-index -> Nos permite mover el elemento den el contexto de apilamiento (eje z)
        
        NOTA: Si a un elemento le declaramos la propiedad top y/o left las propiedades bottom y/o right no funcionarán.

        Los posibles valores que le podemos dar a position son.
        
        Static -> Es el valor que tiene por defecto un elemento, con este valor el elemento NO ESTA POSICIONADO y por lo cual no podremos moverlo.

        RElative-> El elemento mantendrá su posición y medidas en el flujo de renderizado y mantendra su espacio reservado. Si lo movemos lo hará usando su posición en el html como punto de referencia.
        
        Absolute ->El elemento perdera sus medidas y su espacio reservado. Si lo movemos usará el elemento padre posicionado como referencia. Si no tiene ninguno, usara el elemento html de referencia.
        
        Fixed -> El elemento perderá sus medidas y su espacio reservado. Si lo movemos usará el elemento html de referencia, y ademas se quedara fijo en esa posición aunque hagamos scroll.

        Sticky -> Es una mezcla de position relative y fixed. Con este tipo de posicionamiento los valores top, left,, bottom y right no sirven para mover el elemento, si no para indicarle en qué cpunto pasrá a tener un comportamiento de posicionamiento fixed, hasta llegar a ese punto se comportará como si tuviera relative.
*/

*{
    box-sizing: border-box;
}

body{
    background-color: #333;
    color: #fff;
}

