/* 
    El stacking context o el contexto de apilamiento es el espacio donde nuestros elementos se van a ir apilando para que unos queden por detras y otros por delante.

    El orden del stacking context es: (de delante a atrás):
        Elementos posicionados con un z-index de 1 o más
        Elementos posicionados sin z-index declarado (o z-index:auto)
        Elementos no posicionados
        Elementos con z-index negativo
*/

.box
{
    width: 100px;
    height: 100px;
    text-align: center;
    color: #333;   
}

.box-1
{
    background-color: lightcoral;
}
.box-2
{
    background-color: lightgreen;
    margin-top: -50px;
}
.box-3
{
    background-color: lightseagreen;
}
.container
{
    background-color: mediumslateblue;
    margin-top: -50px;
    position: relative;
    opacity: 0.5;
}
.title
{
    background-color: #ccc;
    margin: 0;
    position: relative;
}
.text
{
    margin: 0;
    margin-top: -40px;
}