/* 
    Deciamos que un  contenido se desborda cuando la caja es ms pequeña que el contenedor
    Overflow: 
        Es la propiedad que controla qué debe hacer la caja cuando su contenido se desborda del contenedor.
        És un shorthand que engloba overflow-x y overflow-y.
        Tiene cuatro posibles valores:
            visible-> Es el valor por defecto.
            hidden-> El contenido que se desborde no se verá. Si aplicamos esta propieda en un solo eje, el otro se pondrá automáticamente en el valor scroll.
            scroll -> Apareceràn barras de scroll en el eje asignado (x, y o ambos)
            auto -> Aparecerán barras de escroll en el caso de que hicieran falta.    
*/
*{
    box-sizing: border-box;
}

body{
    background-color: #333;
    color: #fff;
    margin: 0;
}

.box{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: lightcyan;
    width: 300px;
    height: 300px;
    color: #000;
    overflow: hidden;
    /* overflow-y: scroll; */
    border-radius: 50px;
}
.box-1, .box-2{
    padding: 20px;
    background-color: lightcoral;
}

.text{
    margin: 0;
}
